*{
    background-color: black;
    color: green;
    
}

header{
    text-align: center;
}

#container{
    display: flex;
}

div{
    border: 5px;
    border-color: green;
    border-style: solid;
}

main{
    width: 1500px;
    height: 800px;

    border: 5px;
    border-color: green;
    border-style: solid;
}

